.logo
    height 20px
    font-size 16px
    color #fff
    font-weight 900
    line-height 21px
    text-transform uppercase
    padding 5px
    margin-left 10px
    border 3px solid #fee133
    position relative

    &::after
        content ''
        size(0)
        border-style solid
        border-width 18px 0 18px 22.2px
        border-color transparent transparent transparent #fee133
        top -3px
        right -25px
        position absolute

